<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container">
    <h1>EDEn - Electroceutical Design Environment</h1>
    <h2>A tissue specific ion channel database</h2>
</div>
<br/>
<form action="/db/" method="post" id="dbform" 
        data-protein-url="{% url 'ajax_load_proteins' %}" 
        data-protein-desc-url="{% url 'ajax_load_protein_desc' %}" 
        show-results-url="{% url 'ajax_show_results' %}" 
        novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="w3-container fieldWrapper">
        1. Select one or more tissues:
        {{ form.tissue_mc.errors }}
    </div>
    <div class="w3-container fieldWrapper">
        {{ form.tissue_mc }}
    </div>
    <br/>
    <div class="w3-container fieldWrapper">
        2. Show ion channels with mRNA expression level greater than
        {{ form.threshold }}
        {{ form.include_betse }}
        {{ form.include_betse.label }}
    </div>
    <br/>
    <div class="w3-container fieldWrapper">
        3. Select comprehensive to show all channels expressed in the selected 
        tissues (ordered by most specific first).
        <br/>
        Select Unique to show only channels that are specific to the selected 
        tissues.
        {{ form.channel_select_type }}
    </div>
    <div class="w3-container">
        <div class="w3-display-container" style="display:inline-block">
            4. Select one or more ion channels:
            <div class="w3-container fieldWrapper">
                {{ form.protein_mc.errors }}
            </div>
            <div id="protfield" class="w3-container fieldWrapper">
                {{ form.protein_mc }}
            </div>
        </div>
        <div class="w3-display-container" style="display:inline-block">
            <div id="protdesc" class="w3-container fieldWrapper">
                {{ form.protein_desc }}
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="w3-container">
        <input id="lookup_button" type="button" value="Lookup" />
    </div>
    <br/><br/>
    <div class="w3-container" style="height:500px;overflow:auto;">
        <div id="results_div_header">
        </div>
        <div id="results_div">
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

<script>
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $("#id_tissue_mc").change(function () {
        var url = $("#dbform").attr("data-protein-url");
        var tissue_names = $(this).val();
        var thresholdvalue = $("#id_threshold").val();
        var include_betse = $("#id_include_betse").is(":checked");
        $("#id_protein_desc").val("");
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify({
                'tissues': tissue_names,
                'threshold': thresholdvalue,
                'include_betse': include_betse
            }),
            dataType: "json",
            success: function (data) {
                var new_options = data;
                $("#id_protein_mc").empty();
                $.each(new_options, function(key, value) {   
                    $('#id_protein_mc').append($("<option value=" +
                    value.upac + ">" + value.label + "</option>"));
                });
            },
            error: function (data) {
                console.log("Error")
            }
        });
        return false;
    });
</script>

<script>
var csrftoken = $.cookie('csrftoken');
function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$("#id_protein_mc").change(function () {
    var url = $("#dbform").attr("data-protein-desc-url");  
    var protein_upacs = $(this).val();  
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $.ajax({
        type: "POST",
        url: url,                
        data: JSON.stringify({
            'protein_upacs': protein_upacs  
        }),
        dataType: "json",
        success: function (data) { 
            var desc_list = data;
            $("#id_protein_desc").val("");
            var val_str = '';
            $.each(desc_list, function(key, value) {   
                val_str = val_str + value.name + ' (' + value.upac + '|' +
                value.gene_symbol + ') ' + value.protein_desc + '\n';
            });
            $('#id_protein_desc').val(val_str);
        },
        error: function (data) {
            console.log("Error")
        }
    });
    return false;
});
</script>

<script>
var csrftoken = $.cookie('csrftoken');
function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$("#id_include_betse").change(function () {
    var url = $("#dbform").attr("data-protein-url");
    var tissue_names = $("#id_tissue_mc").val();
    var thresholdvalue = $("#id_threshold").val();
    var include_betse = $(this).is(":checked");
    $("#id_protein_desc").val("");
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $.ajax({
        type: "POST",
        url: url,
        data: JSON.stringify({
            'tissues': tissue_names,
            'threshold': thresholdvalue,
            'include_betse': include_betse
        }),
        dataType: "json",
        success: function (data) {
            var new_options = data;
            $("#id_protein_mc").empty();
            $.each(new_options, function(key, value) {   
                $('#id_protein_mc').append($("<option value=" + value.upac +
                ">" + value.label+"</option>"));
            });
        },
        error: function (data) {
            console.log("Error")
        }
    });
  return false;
});
</script>

<script>
var csrftoken = $.cookie('csrftoken');
function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$("#id_threshold").change(function () {
    var url = $("#dbform").attr("data-protein-url");
    var tissue_names = $("#id_tissue_mc").val();
    var thresholdvalue = $(this).val()
    var include_betse = $("#id_include_betse").is(":checked");
    $("#id_protein_desc").val("");
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $.ajax({
        type: "POST",
        url: url,
        data: JSON.stringify({
            'tissues': tissue_names,
            'threshold': thresholdvalue,
            'include_betse': include_betse
        }),
        dataType: "json",
        success: function (data) {
            var new_options = data;
            $("#id_protein_mc").empty();
            $.each(new_options, function(key, value) {   
                $('#id_protein_mc').append($("<option value=" + value.upac + 
                ">"+value.label + "</option>"));
            });
        },
        error: function (data) {
            console.log("Error")
        }
    });
    return false;
});
</script>

<script>
var csrftoken = $.cookie('csrftoken');
function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$("#lookup_button").click(function () {
    var url = $("#dbform").attr("show-results-url");
    var tissue_names = $("#id_tissue_mc").val();
    var protein_names = $("#id_protein_mc").val();
    $("#results_div_header").empty();
    $("#results_div").empty();
    if (tissue_names.length >= 1 && protein_names.length >= 1) {
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify({
                'tissues': tissue_names,
                'proteins': protein_names
            }),
            dataType: "json",
            success: function (data) {
                var result_table_header = data["results_table_header"];
                var result_table = data["results_table"];
                $("#results_div").append(result_table);
            },
            error: function (data) {
                console.log("Error")
            }
        });
    };
    return false;
});
</script>
